<h4>All active</h4>
<ul class="phase-process">
    <li><span class="phase-label phase-label--discovery">Selvitys</span></li>
    <li><span class="phase-label phase-label--alpha">Alfa</span></li>
    <li><span class="phase-label phase-label--beta">Beta</span></li>
    <li><span class="phase-label phase-label--production">Tuotanto</span></li>
    <li><span class="phase-label phase-label--retirement">Poisto</span></li>
</ul>

<h4>Hilight active phase</h4>
<ul class="phase-process">
    <li><span class="phase-label phase-label--discovery is-inactive">Selvitys</span></li>
    <li><span class="phase-label phase-label--alpha is-inactive">Alfa</span></li>
    <li><span class="phase-label phase-label--beta is-active">Beta</span></li>
    <li><span class="phase-label phase-label--production is-inactive">Tuotanto</span></li>
    <li><span class="phase-label phase-label--retirement is-inactive">Poisto</span></li>
</ul>
