<div class="hel-login-box">
  <img src='images/helsinki-vaakuna-helfisininen.svg' class="hel-login-logo">
  <h5>Helsingin kaupunki</h5>
  <h1>Kirjaudu sisään</h1>
  <h4>Digitaalinen Helsinki - digi.hel.fi</h4>
  <p class="doc">
    Tähän palveluun voit tunnistautua käyttämällä jotain näistä kirjautumistavoista.
  </p>
  <div class="hel-login-methods">
    <div class="login-method login-method__primary">
      <a href="#" class="btn btn-block btn-social btn-primary" style="background-color: #00b4c8; border-color: #00b4c8">
        <span class="ext-icon"><img src="https://upload.wikimedia.org/wikipedia/commons/3/35/Ylen_logo.svg"></span>
        Yle Tunnus
      </a>
      <div class="short-description">
        <p>Yle Tunnus on <b>kotimainen</b>, <b>helppo</b> ja <b>turvallinen</b> tapa kirjautua verkkopalveluihin. <a href="http://yle.fi/tunnus">Lue lisää</a></p>
      </div>
    </div>
    <div class="login-method">
      <a href="#" class="btn btn-block btn-social btn-facebook">
        <span class="fa fa-facebook"></span>
        Facebook
      </a>
    </div>
    <div class="login-method">
      <a href="#" class="btn btn-block btn-social btn-github">
        <span class="fa fa-github"></span>
        GitHub
      </a>
    </div>
    <div class="login-method">
      <a href="#" class="btn btn-block btn-social btn-primary" style="background-color: #003380; border-color: #003380">
        <span class="ext-icon"><img src="https://upload.wikimedia.org/wikipedia/commons/c/c4/Helsinki.vaakuna.svg"></span>
        Helsingin kaupungin työntekijät
      </a>
    </div>
  </div>
  <a href="#">Takaisin palveluun</a> | <a href="#">Kysy tai lähetä palautetta</a>
</div>
