$system-font-stack: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
$compdoc-main: #333;

// Styles to accommodate sidebar navigation

// Helsinki login box

.hel-login-box {
  margin: $padding-large-vertical auto;
  max-width: 400px;
}

.hel-login-logo {
  height: 5em;
}

.hel-login-methods {
  @extend .card;
}

.login-method {
  margin-bottom: 1em;
  .short-description {
    margin-top: 6px;
  }

  .ext-icon img {
    max-width: 24px;
    max-height: 24px;
  }
}

.login-method__primary {
  border-bottom: 1px solid $brand-primary;
  border-top: 1px solid $brand-primary;
  padding-top: 1em;
}


.tab-content {
  height: 20em;
  overflow: auto;
  margin-bottom: 4em;
}

.components-footer {
  background: #333;
  height: 10em;
}

.feedback-trigger--collapse {
  margin-bottom: $line-height-computed;
}

.feedback-floating {
  transform-origin: bottom right;
  transform: rotate(-90deg);
  position: fixed;
  bottom: 12em;
  right: -3px;
  z-index: 8000;
  .btn {
    padding-bottom: 1em;
  }
  .feedback-trigger--float {
    display: block;
    position: relative;
    transition: all 5s ease;
  }
}

$discoverycolor:  #b8d154;
$alphacolor:      #3bbfbb;
$betacolor:       #05c2de;
$productioncolor: #0396d1;
$retirementcolor: #999999;
$inactivecolor:   #dedede;
$labelheight:     22px;

.project-phase-- {
  display: block;
  background: #b8d154;
  border-radius: 50%;
  padding: 6px;
  position: absolute;
  top: 0;
  right: -2em;
  transform: rotate(90deg);
}



.phase-process {
    margin:  6px 0;
    padding: 0;
    list-style: none;
    display: table;
    table-layout: fixed;
    width: 100%;
    li {
      display: table-cell;
    }
    li:hover {
      width: 50%;
    }
  .phase-label {
    display: block;
  }
  li:first-child {
    .phase-label {
      margin-left: 0;
    }
    .phase-label::before {
      border: 0;
    }
  }
  li:last-child {
    .phase-label {
      margin-right: 0;
    }
    .phase-label::after {
      border: 0;
    }
  }
}


.phase-label--discovery {
 background-color: $discoverycolor;
  &::after, &::before {
    border-color: $discoverycolor;
  }
}

.phase-label--alpha {
 background-color: $alphacolor;
  &::after, &::before {
    border-color: $alphacolor;
  }
}

.phase-label--beta {
 background-color: $betacolor;
  &::after, &::before {
    border-color: $betacolor;
  }
}

.phase-label--production {
 background-color: $productioncolor;
  &::after, &::before {
    border-color: $productioncolor;
  }
}

.phase-label--retirement {
 background-color: $retirementcolor;
  &::after, &::before {
    border-color: $retirementcolor;
  }
}

.phase-label {
  display: inline-block;
    position: relative;
    height: $labelheight;
    line-height: $labelheight;
    margin: 0 $labelheight / 2;
    font-size: $labelheight / 2;
    padding: 0 $labelheight / 4;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
  &::after {
    content:"";
    position: absolute;
    top:0;
    left:100%;
    height:0;
    width:0;
    border-width: $labelheight / 2;
    border-style:solid;
    border-top-color:transparent !important;
    border-bottom-color:transparent !important;
    border-right-color:transparent !important;
  }
  &::before {
    content:"";
    position: absolute;
    top:0;
    right:100%;
    height:0;
    width:0;
    border-width: $labelheight / 2;
    border-style:solid;
    border-top-color:transparent !important;
    border-bottom-color:transparent !important;
    border-left-color:transparent !important;
  }
}

.phase-label.is-inactive {
  background: #dedede;
  &::before, &::after {
    border-color: #dedede;
  }
}


// Bootswatch custom

@media (min-width:768px) {
  body>.navbar-transparent {
  background-color: transparent!important;
}
body>.navbar-transparent .navbar-nav>.open>a {
  background-color: transparent!important;
}
}#home {
  padding-top: 0;
}
#home .logo .nav-link {
  display: inline-block;
  margin-right: -30px;
}
#home .logo img {
  display: inline-block;
  margin: 0 10px;
  width: 20%}
#banner {
  min-height: 300px;
  border-bottom: none;
}
.table-of-contents {
  margin-top: 1em;
}
.bs-docs-section {
  margin-top: 6em;
}
.bs-docs-section .page-header h1 {
  padding: 5rem 0 2rem;
  font-size: 4em;
}
.bs-component {
  position: relative;
}
.bs-component+.bs-component {
  margin-top: 1rem;
}
.bs-component .card {
  margin-bottom: 1rem;
}
.bs-component .modal {
  position: relative;
  top: auto;
  right: auto;
  left: auto;
  bottom: auto;
  z-index: 1;
  display: block;
}
.bs-component .modal-dialog {
  width: 90%}
.bs-component .popover {
  position: relative;
  display: inline-block;
  width: 220px;
  margin: 20px;
}
#source-button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  font-weight: 700;
}
.nav-tabs {
  margin-bottom: 15px;
}
.progress {
  margin-bottom: 10px;
}
#footer {
  margin: 5em 0;
}
#footer li {
  float: left;
  margin-right: 1.5em;
  margin-bottom: 1.5em;
}
#footer p {
  clear: left;
  margin-bottom: 0;
}
.splash {
  padding: 10em 0 4em;
  background-color: #141d27;
  color: #fff;
  text-align: center;
}
.splash .logo {
  width: 160px;
}
.splash h1 {
  font-size: 3em;
}
.splash #social {
  margin: 2em 0;
}
.splash .alert {
  margin: 2em 0;
}
.section-tout {
  padding: 5em 0 2em;
  border-bottom: 1px solid rgba(0, 0, 0, .05);
  background-color: #eaf1f1;
}
.section-tout .fa {
  margin-right: .5em;
}
.section-tout p {
  margin-bottom: 3em;
}
.section-preview {
  padding: 4em 0 4em;
}
.section-preview .preview {
  margin-bottom: 4em;
  background-color: #eaf1f1;
}
.section-preview .preview img {
  max-width: 100%}
.section-preview .preview .image {
  position: relative;
}
.section-preview .preview .image:before {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .1);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  pointer-events: none;
}
.section-preview .preview .options {
  padding: 1em 2em 2em;
  border: 1px solid rgba(0, 0, 0, .05);
  border-top: none;
  text-align: center;
}
.section-preview .preview .options p {
  margin-bottom: 2em;
}
.section-preview .dropdown-menu {
  text-align: left;
}
.section-preview .lead {
  margin-bottom: 2em;
}
@media (max-width:767px) {
  .section-preview .image img {
  width: 100%}
}.sponsor #carbonads {
  max-width: 240px;
  margin: 0 auto;
}
.sponsor .carbon-text {
  display: block;
  margin-top: 1em;
  font-size: 12px;
}
.sponsor .carbon-poweredby {
  float: right;
  margin-top: 1em;
  font-size: 10px;
}
@media (max-width:767px) {
  .splash {
  padding-top: 4em;
}
.splash .logo {
  width: 100px;
}
.splash h1 {
  font-size: 2em;
}
#banner {
  margin-bottom: 2em;
  text-align: center;
}
}