$system-font-stack: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
$compdoc-main: #333;

// Styles to accommodate sidebar navigation

// Helsinki login box

.hel-login-box {
  margin: $padding-large-vertical auto;
  max-width: 400px;
}

.hel-login-logo {
  height: 5em;
}

.hel-login-methods {
  @extend .well;
}

.login-method {
  margin-bottom: 1em;
  .short-description {
    margin-top: 6px;
  }

  .ext-icon img {
    max-width: 24px;
    max-height: 24px;
  }
}

.login-method__primary {
  border-bottom: 1px solid $brand-primary;
  border-top: 1px solid $brand-primary;
  padding-top: 1em;
}


.tab-content {
  height: 20em;
  overflow: auto;
  margin-bottom: 4em;
}

.components-footer {
  background: #333;
  height: 10em;
}

.feedback-trigger--collapse {
  margin-bottom: $line-height-computed;
}

.feedback-floating {
  transform-origin: bottom right;
  transform: rotate(-90deg);
  position: fixed;
  bottom: 12em;
  right: -3px;
  z-index: 8000;
  .btn {
    padding-bottom: 1em;
  }
  .feedback-trigger--float {
    display: block;
    position: relative;
    transition: all 5s ease;
  }
}

$discoverycolor:  #b8d154;
$alphacolor:      #3bbfbb;
$betacolor:       #05c2de;
$productioncolor: #0396d1;
$retirementcolor: #999999;
$inactivecolor:   #dedede;
$labelheight:     22px;

.project-phase-- {
  display: block;
  background: #b8d154;
  border-radius: 50%;
  padding: 6px;
  position: absolute;
  top: 0;
  right: -2em;
  transform: rotate(90deg);
}



.phase-process {
    margin:  6px 0;
    padding: 0;
    list-style: none;
    display: table;
    table-layout: fixed;
    width: 100%;
    li {
      display: table-cell;
    }
    li:hover {
      width: 50%;
    }
  .phase-label {
    display: block;
  }
  li:first-child {
    .phase-label {
      margin-left: 0;
    }
    .phase-label::before {
      border: 0;
    }
  }
  li:last-child {
    .phase-label {
      margin-right: 0;
    }
    .phase-label::after {
      border: 0;
    }
  }
}


.phase-label--discovery {
 background-color: $discoverycolor;
  &::after, &::before {
    border-color: $discoverycolor;
  }
}

.phase-label--alpha {
 background-color: $alphacolor;
  &::after, &::before {
    border-color: $alphacolor;
  }
}

.phase-label--beta {
 background-color: $betacolor;
  &::after, &::before {
    border-color: $betacolor;
  }
}

.phase-label--production {
 background-color: $productioncolor;
  &::after, &::before {
    border-color: $productioncolor;
  }
}

.phase-label--retirement {
 background-color: $retirementcolor;
  &::after, &::before {
    border-color: $retirementcolor;
  }
}

.phase-label {
  display: inline-block;
    position: relative;
    height: $labelheight;
    line-height: $labelheight;
    margin: 0 $labelheight / 2;
    font-size: $labelheight / 2;
    padding: 0 $labelheight / 4;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
  &::after {
    content:"";
    position: absolute;
    top:0;
    left:100%;
    height:0;
    width:0;
    border-width: $labelheight / 2;
    border-style:solid;
    border-top-color:transparent !important;
    border-bottom-color:transparent !important;
    border-right-color:transparent !important;
  }
  &::before {
    content:"";
    position: absolute;
    top:0;
    right:100%;
    height:0;
    width:0;
    border-width: $labelheight / 2;
    border-style:solid;
    border-top-color:transparent !important;
    border-bottom-color:transparent !important;
    border-left-color:transparent !important;
  }
}

.phase-label.is-inactive {
  background: #dedede;
  &::before, &::after {
    border-color: #dedede;
  }
}