
// Styles to accommodate sidebar navigation

html, body {
    height:100%;
    padding:0;
    margin:0;
}

.site-container {
  position: absolute;
  height: 100%;
  width: 100%;
}

.site-navbar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding-bottom: 2em;
  width: 300px;
  overflow-x: hidden;
  overflow-y: hidden;
  min-height: 100%;
  background: $gray-lighter;
  z-index: 200;
}

.site-content {
  margin-left: 300px;
  background: #fcfcfc;
  min-height: 100%
}

.site-navigation {
  padding: $line-height-computed;
}

// Helsinki login box

.hel-login-box {
  margin: $padding-large-vertical auto;
  max-width: 400px;
}

.hel-login-logo {
  height: 5em;
}

.hel-login-methods {
  @extend .well;
}

.login-method {
  margin-bottom: 1em;
  .short-description {
    margin-top: 6px;
  }

  .ext-icon img {
    max-width: 24px;
    max-height: 24px;
  }
}

.login-method__primary {
  border-bottom: 1px solid $brand-primary;
  border-top: 1px solid $brand-primary;
  padding-top: 1em;
}


.tab-content {
  height: 20em;
  overflow: auto;
  margin-bottom: 4em;
}

.components-footer {
  background: #333;
  height: 10em;
}