
<div class="site-navigation">
  <h3>City of Helsinki Open Software Development UI Component Library <span class="phase-label phase-label--alpha">Alpha</span></h3>
  <hr>
  <ul class="list-unstyled"><%= tree_to_html(data.tree) %></ul>

  <hr>
  <h6>Switch theme</h6>
  <ul class="list-unstyled">
    <li>
      <input type="radio" name="style-switch" id="js-theme-helfi" checked />
      <label for="js-theme-helfi">hel.fi</label>
    </li>
    <li>
      <input type="radio" name="style-switch" id="js-theme-kanslia" />
      <label for="js-theme-kanslia">kanslia</label>
    </li>
  </ul>
  <hr>
  <small><a href="https://github.com/terotic/hel-components">Source in GitHub</a></small>
</div>